/* .booking-table tr {
    display: block;
    float: left;
} */
.my-booking-page {
    min-height: 500px;
}
.booking-table {
    border-collapse: collapse;
    width: 100%;
}
.booking-table th,
td {
    text-align: center;
    padding: 6px;
    border: 1px solid black;
}
.booking-table img {
    width: 70px;
}
.cancel-bookings-btn {
    border: 1px solid gray;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: crimson;
    color: white;
    font-weight: 500;
}

@media only screen and (max-width: 576px) {
    .booking-table table,
    .booking-table thead,
    .booking-table tbody,
    .booking-table th,
    .booking-table td,
    .booking-table tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    .booking-table thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .booking-table tr {
        border: 1px solid #ccc;
    }

    .booking-table td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align: left;
    }

    .booking-table td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }

    .booking-table td:before {
        content: attr(data-title);
    }
}
